.login__form{
    border: 1px solid ;
    display: flex;
    width: 20rem;
    height: 25rem;
    text-align: center !important;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* width: 10%; */
}
.login__image{
    height: 10rem;
    width: 12rem;
}
.login__toptext{
    text-align: start;
}